div{
    position: absolute;
    padding-top: 500px;
    padding-left: 500px;
    }
    .a1{font-size: 56px;}
.aa{ font-size:50px ;
}
.bb{font-size:  15px;} 
.cc{font-size:  10px;} 
.dd{font-size: 10px;}
.ee{font-size: 10px;}



